<div class="container">
   <div class="row">
     <div class="col-md-6 col-md-offset-2">
       <%= form_tag search_tutor_profiles_path, method: :get, class: "center" do %>
       <%= autocomplete_field_tag :search, params[:search], autocomplete_tutor_profile_teaching_subject_tutor_profiles_path, class: "form-control", placeholder: "Enter the subject you would like help with" %>
     </div>  
     <div class="col-md-2">
       <%= submit_tag "Subject Search", name: nil, class: "btn btn-default" %>
      <% end %> 
     </div> 
    </div>
  <br>
  <br>

<div class="row">
  <div class="col-md-2">
     <p>Sort by</p>
       <p>University
         <ul>
           <li><%= link_to "Oxford", search_tutor_profiles_path({:university => 'Oxford'}.merge(params)) %></li>                             
           <li><%= link_to "Cambridge University", search_tutor_profiles_path({:university => 'Cambridge University'}.merge(params)) %></li>         
         </ul>
      </p>   
  </div>
  <div class="col-md-10">
    <% @tutor_profiles.each do |tutor_profile| %>
      <div class="row">
            <div class="col-md-3">
                <a href="/tutor_profiles/<%= tutor_profile.id %>">
                    <div class="image-photo" style="background-image: url('<%= tutor_profile.image.url %>'); width: 150px; background-size: 100%; height: 150px;">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
              <h3><%= "#{tutor_profile.user.first_name.capitalize} #{tutor_profile.user.last_name.capitalize[0]}." %></h3>
              <p><%= t('university', university: tutor_profile.university) %> &nbsp;|&nbsp; <%= t('degree_subject', degree_subject: tutor_profile.degree_subject) %> &nbsp;|&nbsp; <%= t('location', location: tutor_profile.location) %></p>  
              <p><%= truncate(tutor_profile.about_myself, :length => 275) %></p> 
            </div>
            <div class="col-md-2">
              <%= link_to "Message", class: "btn btn-link" %> 
              <br>
              <%= link_to "Request this tutor", new_enquiry_path, class: "btn btn-primary" %>
            </div>  
      </div>
    <% end %>
  </div>
</div>
       
<br>

<%= #will_paginate @tutors, renderer: BootstrapPagination::Rails 
%>

<br>
