  <div class="row">
    <div class="right"> 
      <%= link_to new_tutor_profile_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
          <i class="glyphicon glyphicon-plus"></i> <%= t('post_a_tutor_profile') %>
          <% end %>
    </div>
  </div>
    

  <div class="row">
    <% @enquiries.each do |enquiry| %>

      <div class="row"> 
            <!-- Category Search -->  
            <div class="col-md-2">                
                           
            </div>

           
            <div class="col-md-5">

              <h3><%= enquiry.subject %>
                <a href="/enquiries/<%= enquiry.id %>"></h3>
              <p><%= t('level', level: enquiry.level) %> &nbsp;|&nbsp; <%= t('duration', duration: enquiry.duration) %> &nbsp;|&nbsp; <%= t('location', location: enquiry.location) %></p>  
              <p><%= truncate(enquiry.note, :length => 275) %></p>
                     
              <% if (user_signed_in?) && (current_user == enquiry.user) %>
                <%= link_to 'Edit', edit_enquiry_path(enquiry), class: "btn btn-link" %>            
                <%= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %> 
              <% end %>  
           </div>
           <div class="col-md-2">
            
              <!-- only tutors can write proposals, if a user doesn't have tutor profile, redirection to homepage with notification -->
             
           </div>        
      </div> 
    <% end %>
  </div>
</div>
  
<br>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

<br>

<% if user_signed_in? %> 
<%= link_to new_tutor_profile_path, class: "btn btn-primary", data: { no_turbolink: true } do %> 
    <i class="glyphicon glyphicon-plus"></i> Post a Tutor Profile
  <% end %>
<% end %>

<div class="centre">
  <div class="fb-like" data-href="http://etsydemo-2016.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>


<%= link_to 'New Enquiry', new_enquiry_path %>
