</div><!-- end of container from layout/application -->  
<br><br><br><br>
<div class="footer">
<div class="row">        
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron footer">
      <table footer>
        <thead>
          <tr>
            <th>Young Tutors</th>
            <th>Tuition</th>
            <th>Resources</th>
            <th>Languages</th>
          </tr>
        </thead>    
        <tbody>
          <tr>            
            <td><a href="/pages/about">About</a></td>
            <td><%= link_to "School Curriculum & Exams", pages_exams_path %>
            <td><%= link_to "Personal Statements", pages_personal_statements_path %></td>
            <td><%= link_to "English" %></td>
          </tr>
          <tr>
            <td><%= link_to "Contact Us", contacts_path %></td>
            <td><%= link_to "University Entrace", pages_university_entrance_path %></td>
            <td><%= link_to "College Essays", pages_college_essays_path %></td>
            <td><%= link_to "Chinese" %></td>
          </tr>
          <tr>
            <td><%= link_to "Terms and Conditions", pages_terms_and_conditions_path %></td>
            <td><%= link_to "Online Tuition", pages_online_tuition_path %></td>   
            <td><%= link_to "Oxbridge Interview Questions", pages_oxbridge_interview_questions_path %></td>
            <td><%= link_to "Korean" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to "Services for Schools", pages_services_for_schools_path %></td>   
            <td><%= link_to "Suggested Readings", pages_suggested_readings_path %></td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <div class="right">
        <h5>Young Tutors</h5>
        <p>Copyright © Young Tutors All Rights Reserved</p>
      </div>
      <div class="left">
        <div class="fb-like" data-href="http://etsydemo-2016.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div><!-- end of jumbotron -->        
  </div><!-- end of col-md-6 -->
</div><!-- end of row -->  
</div> <!-- end of footer -->

    

