<div class="top-bar">
      <div class="container">
        <%= link_to "admin", tutorships_path %>
            <div class="pull-right">
                    <ul class="info list-inline hidden-xs">
                         <% if user_signed_in? %>

                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Tuition <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><%= link_to "Tutor page", tutors_path %></li>                  
                              <li class="nounderline"><%= link_to " Student page", students_path %></li>
                            </ul>
                          </li>          
                          <li><%= link_to "Inbox", pages_inbox_path %></li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li>
                                My Tutor Profile
                              </li>
                              <li><%= link_to edit_user_registration_path, data: { no_turbolink: true } do %>
                                <i class="glyphicon glyphicon-wrench"></i> t('Account Setting')
                               <% end %>
                              </li>
                              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                            </ul>
                          </li>         
                          
                        <% else %>
                          <li class="nounderline"><%= link_to t('sign_up'), new_user_registration_path %></li>
                          <li class="nounderline"></i><%= link_to t('sign_in'), new_user_session_path %></li>
                        <% end %>                        
                    </ul>
            </div>
      </div><!--container end-->
</div><!--topbar end-->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Young Tutors", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">       

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Ask a Tutor", questions_path %></li>
        <li><%= link_to "Find Tutors", tutor_profiles_path %></li>
        <li><%= link_to "Find Students", enquiries_path %></li>
        <li><%= link_to "How it works", pages_how_it_works_path %></li>
        <li><%= link_to "Contact", pages_contact_path %></li>      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</div>  
